.phoneContainer {
  padding: 0 150px;
}
#imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneBack {
  position: absolute;
  left: 180px;
  width: 200px;
  height: 200px;
  background: linear-gradient(#4c2eec, #891fe5);
  border-radius: 50%;
}
.phoneContainer img {
  width: 100%;
  z-index: 10;
}
.phoneItems {
  padding-bottom: 50px;
  text-align: center;
}
.phoneContainer h1 {
}
.phoneContainer p {
}
